body{
    font-family: "ヒラギノ明朝 Pro W3","游明朝体", "Yu Mincho","ＭＳ Ｐ明朝", "MS PMincho", 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

a:link, a:visited{
    color:#333333;
}
a:hover{
    color:#FFFFFF;
}
.inner{
    width: 1020px;
    margin:0 auto;
    overflow: hidden;
}
.inner p{
    text-align:center;
    color:#333333;
}
header{
    height: 165px;
    position:relative;
}
nav{
    height: 100px;
    background-color:#99cc33;
    position: relative;
    font-family:
}
nav ul{
    overflow: hidden;
}
nav li{
    float: left;
    width: 215px;
}
nav li:hover{
    border-bottom: 2px #ff66cc solid;
}
nav li a:link,nav li a:visited{
    color:#333333;
    text-decoration:none;
    font-size:14px;
    height: 60px;
    display:block;
    text-align:center;
    position:relative;
    line-height:2.4;
    margin:20px;
}
nav li a:hover{
    color:#fff;
}
nav li a:link span,
nav li a:visited span{
    position:absolute;
    font-size:14px;
    color:#fff;
    left:0;
    bottom:10px;
    width: 100%;
    height: 15px;
    line-height:1.2;
}
h1{
    position:absolute;
    width: 151px;
    height: 154px;
    top:2px;
    left:50%;
    margin-left:-76px;
    z-index:10;
}
#hidari{
    width: 430px;
}
#migi{
    width: 430px;
    float:right;
}
.pankuzu ol li {
    /* liを横並び＆ブレットを消す */
    display: inline;
    list-style-type: none;
}

.pankuzu ol li a {
    /* aの背景画像に記号の画像を指定 */
    background-image: url(../img/herbtea/ar.png);

    /* 右寄せ＆リピート無し */
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 10px;
    text-decoration:none;
}
.pankuzu ol li:first-child{
    margin-left:110px;
}
.pankuzu ol li a:hover{
    color:#99cc33;
}
#container{
    position:relative;
}
#gaiyou{
    height: 460px;
}
#info{
    line-height:2.4;
    font-family:"游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}
#dry{
    position:absolute;
    top:70px;
    left:-100px;
    width: 370px;
    height: 370px;

}
#tea{
    position:absolute;
    top:70px;
    right:-100px;
    width: 382px;
    height: 382px;
}
h2{
    font-size:28px;
    text-align:center;
    color:#333333;
    margin-top:50px;
    margin-bottom:25px;
}
h3{
    font-size:20px;
    text-align:center;
    color:#333333;
    margin-bottom:25px;
}
#nickname{
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    text-shadow: -1px -1px #333,
    1px -1px #333,
    -1px 1px #333,
    1px 1px #333;
    margin-bottom:25px;
}
#gaiyou table {
    margin:25px auto;
}
#gaiyou td{
    padding:5px;
}
#syousai{
    overflow:hidden;
}
#syousai table{
    width: 480px;
    margin:25px 10px;
    float:left;
    font-family:"游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}
#syousai th{
    width: 165px;
    background-color:#99cc33;
    border:1px #ccc solid;
    color:#333;
    padding:10px;
}
#syousai td{
    width: 360px;
    border:1px #ccc solid;
    padding:10px;
}
.inner2{
    width: 950px;
    margin:0 auto;
    overflow: hidden;
}
footer{
    clear:both;
    position:relative;
    background-color: #99cc33;
    height: 170px;
    margin-top:180px;
    font-family:"游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}
#herb_sil{
    position:absolute;
    width: 1316px;
    height: 271px;
    top:-170px;
    left:50%;
    margin-left:-658px;
    z-index:-1;
}
footer ul{
    overflow: hidden;
    margin:50px 277px;
    text-align:center;
}
footer li{
    float: left;
    width: 100px;
    margin:0 auto;
    display:inline;
    list-style-type: none;
    padding:15px;
}
footer ul a:link,footer ul a:visited{
    text-decoration: none;
}
#copylight{
    clear:both;
    text-align: center;
    color:#FFFFFF;
    font-size:11px;
}
