body{
    font-family:  "ヒラギノ明朝 Pro W3","游明朝体", "Yu Mincho","ＭＳ Ｐ明朝", "MS PMincho", 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

a:link, a:visited{
    color:#333333;
}
a:hover{
    color:#FFFFFF;
}
.inner{
    width: 1020px;
    margin:0 auto;
    overflow: hidden;
}
.inner p{
    text-align:center;
    color:#333333;
}
header{
    height: 102px;
    background-color:#99cc33;
    position:relative;
}
nav{
    height: 100px;
    position: relative;
}
nav ul{
    overflow: hidden;
}
nav li{
    float: left;
    width: 215px;
}
nav li:hover{
    border-bottom: 2px #ff66cc solid;
}
nav li a:link,nav li a:visited{
    color:#333333;
    text-decoration:none;
    font-size:14px;
    height: 60px;
    display:block;
    text-align:center;
    position:relative;
    line-height:2.4;
    margin:20px;
}
nav li a:hover{
    color:#fff;
}
nav li a:link span,
nav li a:visited span{
    position:absolute;
    font-size:14px;
    color:#fff;
    left:0;
    bottom:10px;
    width: 100%;
    height: 15px;
    line-height:1.2;
}
nav li.current{
    border-bottom: 2px #ff66cc solid;
}
h1{
    position:absolute;
    width: 151px;
    height: 154px;
    top:2px;
    left:50%;
    margin-left:-76px;
    z-index:10;
}
#hidari{
    width: 430px;
}
#migi{
    width: 430px;
    float:right;
}
#container{
    margin:50px auto;
    position:relative;
}
#menu{
    text-align:center;
    height: 1400px;
}

#menu li{
    width: 255px;
    float:left;
    position: relative;
    border-bottom:2px #99cc33 solid;
    display: block;
    line-height: 50px;
}
#menu li:hover{
    border-bottom:2px #ff66cc solid;
    background-color:#99cc33;
    /*color:#fff;*/
}

.submenu{
    display:none;
    position: absolute;
    background-color: rgba(153,204,51,0.55);
    z-index:100;
}
.submenu li{
    height: 50px;
    line-height:50px;
    border-bottom: 2px rgba(255,255,255,0.55) solid;
    display: block;
}
.submenu li:hover{
    background-color:#99cc33;
}
#midashi{
    clear:both;
    line-height:2.4;
}
h2{
    margin-top:40px;
    font-size:30px;
    color:#ff66cc;
    font-family:'Libre Baskerville',serif;
    text-align:center;
}
h3{
    margin-top:40px;
    margin-bottom:40px;
    text-align:center;
    font-size:16px;
}
.j-textWithImage figure {
  z-index: 0 !important;
}
#herbtea{
    clear:both;
    position:absolute;
    top:70px;
    left:50%;
    margin-left:-510px;
    /*overflow: hidden;*/
}
/*#herbtea a{
    float:left;
    width: 255px;
    height: 255px;
}*/
#herbtea img{
    margin:auto 6.5px;
    /*display:block;*/
}
.inner2{
    width: 950px;
    margin:0 auto;
    overflow: hidden;
}
footer{
    clear:both;
    background-color: #99cc33;
    height: 170px;
    position:relative;
}
#herb_sil{
    margin:0;
    position:absolute;
    top:-180px;
    left:0;
}
footer ul{
    overflow: hidden;
    margin:50px 277px;
    text-align:center;
}
footer li{
    float: left;
    width: 100px;
    margin:0 auto;
    display:inline;
    list-style-type: none;
    padding:15px;
}
footer ul a:link,footer ul a:visited{
    text-decoration: none;
}
#copylight{
    clear:both;
    text-align: center;
    color:#FFFFFF;
    font-size:11px;
}
